# Dependencias core (obligatorias)
requests>=2.28.0
lxml>=4.9.0
pyarrow>=8.0.0
pandas>=1.5.0
python-dotenv>=0.21.0

# Dependencias para web scraping
beautifulsoup4>=4.13.4

# Dependencias para S3
boto3>=1.26.0

# Dependencias para Pinecone
pinecone>=6.0.0

# Otras dependencias
python-xbrl
psutil
tqdm

# MongoDB y Motor
pymongo==4.3.3
motor==3.1.1

# Nota: zipfile36 fue reemplazado por zipfile en la biblioteca estándar de Python

# New dependencies
pydantic>=2.0.0
pydantic-settings>=2.0.0
tiktoken>=0.3.0
openai>=1.0.0

# Stack Async
fastapi==0.109.2
celery==5.3.6
redis==5.0.1
aiohttp==3.9.3
dask==2024.1.1
prometheus-client==0.19.0
uvicorn==0.27.1
python-multipart==0.0.9
aiofiles==23.2.1
httpx==0.26.0


[DEBUG] API raw response for 00039177: 
{'company_name': 'THE WHITE RIBBON ASSOCIATION INCORPORATED', 'company_number': '00039177', 'accounts_date': [{'zip_name': 'N/R', 'date': [{'zip_name': 'N/R', 'date': '31/12/2024', 'company_legal_type': 'Private company, limited by guarantee', 'currency': 'GBP', 'total_director_remuneration': 'N/R', 'highest_paid_director': 'N/R', 'inserted_at': '2025-03-11T00:00:00.000Z'}], 'company_legal_type': 'N/R', 'currency': 'N/R', 'total_director_remuneration': 'N/R', 'highest_paid_director': 'N/R', 'inserted_at': '2025-05-18T04:14:42.688Z'}], 'requestId': '93365151-7438-467a-b771-71a275027350'}
2025-05-18 00:14:42,690 - api_processor - INFO - Successfully fetched info for company 00039177
[DEBUG] company_info response: {'company_name': 'THE WHITE RIBBON ASSOCIATION INCORPORATED', 'company_number': '00039177', 'accounts_date': [{'zip_name': 'N/R', 'date': '31/12/2024', 'company_legal_type': 'Private company, limited by guarantee', 'currency': 'GBP', 'total_director_remuneration': 'N/R', 'highest_paid_director': 'N/R', 'inserted_at': '2025-03-11T00:00:00.000Z'}]}